<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ee68d8">  <td>19/02/15 10:07:49</td>   <td>0</td> <td title="&gt;&gt;ExtentTestNGReportBuilderExt.beforeSuite()[pri:0, instance:com.rezgateway.automation.bonotel.ComparisonTest@1907bac]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@18897540</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>19/02/15 10:07:49</td>   <td>275</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ExtentTestNGReportBuilderExt.beforeClass()[pri:0, instance:com.rezgateway.automation.bonotel.ComparisonTest@1907bac]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@18897540</td>   <td></td> </tr>
</table>
