<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Bonotel xml Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9379b6">  <td>19/02/18 11:31:02</td>   <td>0</td> <td title="&gt;&gt;ExtentTestNGReportBuilderExt.beforeSuite()[pri:0, instance:com.rezgateway.automation.bonotel.ComparisonTest@18ee631]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@16387911</td>   <td></td> </tr>
<tr bgcolor="9379b6">  <td>19/02/18 11:31:02</td>   <td>171</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ExtentTestNGReportBuilderExt.beforeClass()[pri:0, instance:com.rezgateway.automation.bonotel.ComparisonTest@18ee631]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@16387911</td>   <td></td> </tr>
<tr bgcolor="9ad2e3">  <td>19/02/18 11:31:02</td>   <td>176</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ComparisonTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, boolean)[pri:0, instance:com.rezgateway.automation.bonotel.ComparisonTest@18ee631]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@16387911</td>   <td></td> </tr>
<tr bgcolor="9ad2e3">  <td>19/02/18 11:31:02</td>   <td>446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ComparisonTest.compareAvailabilityXml(com.rezgateway.automation.pojo.AvailabilityRequest)[pri:0, instance:com.rezgateway.automation.bonotel.ComparisonTest@18ee631]">compareAvailabilityXml</td> 
  <td>main@16387911</td>   <td></td> </tr>
<tr bgcolor="9379b6">  <td>19/02/18 11:31:06</td>   <td>4180</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExtentTestNGReportBuilderExt.afterMethod(org.testng.ITestResult)[pri:0, instance:com.rezgateway.automation.bonotel.ComparisonTest@18ee631]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@16387911</td>   <td></td> </tr>
<tr bgcolor="9ad2e3">  <td>19/02/18 11:31:07</td>   <td>4740</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ComparisonTest.compareAvailabilityXml(com.rezgateway.automation.pojo.AvailabilityRequest)[pri:0, instance:com.rezgateway.automation.bonotel.ComparisonTest@18ee631]">compareAvailabilityXml</td> 
  <td>main@16387911</td>   <td></td> </tr>
<tr bgcolor="9379b6">  <td>19/02/18 11:31:07</td>   <td>5664</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExtentTestNGReportBuilderExt.afterMethod(org.testng.ITestResult)[pri:0, instance:com.rezgateway.automation.bonotel.ComparisonTest@18ee631]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@16387911</td>   <td></td> </tr>
<tr bgcolor="9ad2e3">  <td>19/02/18 11:31:08</td>   <td>5851</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ComparisonTest.compareReservationXml(com.rezgateway.automation.pojo.AvailabilityRequest)[pri:1, instance:com.rezgateway.automation.bonotel.ComparisonTest@18ee631]">compareReservationXml</td> 
  <td>main@16387911</td>   <td></td> </tr>
<tr bgcolor="9379b6">  <td>19/02/18 11:31:30</td>   <td>27952</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExtentTestNGReportBuilderExt.afterMethod(org.testng.ITestResult)[pri:0, instance:com.rezgateway.automation.bonotel.ComparisonTest@18ee631]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@16387911</td>   <td></td> </tr>
<tr bgcolor="9ad2e3">  <td>19/02/18 11:31:30</td>   <td>28087</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ComparisonTest.compareReservationXml(com.rezgateway.automation.pojo.AvailabilityRequest)[pri:1, instance:com.rezgateway.automation.bonotel.ComparisonTest@18ee631]">compareReservationXml</td> 
  <td>main@16387911</td>   <td></td> </tr>
<tr bgcolor="9379b6">  <td>19/02/18 11:31:32</td>   <td>30238</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExtentTestNGReportBuilderExt.afterMethod(org.testng.ITestResult)[pri:0, instance:com.rezgateway.automation.bonotel.ComparisonTest@18ee631]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@16387911</td>   <td></td> </tr>
<tr bgcolor="9ad2e3">  <td>19/02/18 11:31:32</td>   <td>30377</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ComparisonTest.compareCancellationXml(com.rezgateway.automation.pojo.AvailabilityRequest)[pri:2, instance:com.rezgateway.automation.bonotel.ComparisonTest@18ee631]">compareCancellationXml</td> 
  <td>main@16387911</td>   <td></td> </tr>
<tr bgcolor="9379b6">  <td>19/02/18 11:32:13</td>   <td>71608</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExtentTestNGReportBuilderExt.afterMethod(org.testng.ITestResult)[pri:0, instance:com.rezgateway.automation.bonotel.ComparisonTest@18ee631]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@16387911</td>   <td></td> </tr>
<tr bgcolor="9ad2e3">  <td>19/02/18 11:32:14</td>   <td>71691</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ComparisonTest.compareCancellationXml(com.rezgateway.automation.pojo.AvailabilityRequest)[pri:2, instance:com.rezgateway.automation.bonotel.ComparisonTest@18ee631]">compareCancellationXml</td> 
  <td>main@16387911</td>   <td></td> </tr>
<tr bgcolor="9379b6">  <td>19/02/18 11:32:14</td>   <td>71702</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExtentTestNGReportBuilderExt.afterMethod(org.testng.ITestResult)[pri:0, instance:com.rezgateway.automation.bonotel.ComparisonTest@18ee631]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@16387911</td>   <td></td> </tr>
<tr bgcolor="9ad2e3">  <td>19/02/18 11:32:14</td>   <td>71845</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ComparisonTest.tearDown()[pri:0, instance:com.rezgateway.automation.bonotel.ComparisonTest@18ee631]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@16387911</td>   <td></td> </tr>
</table>
